.vertical-center {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh;
    /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    max-width: 800px;
    /* or 950px */
}

.mt--10 {
    margin-top: -10px
}